@charset "utf-8";

// Define defaults for each variable.

* {
  color: #dedede;
}

footer {text-align:center; padding-bottom:10px;}

.footNav {margin-top:15px; float:none; width:100%; text-align:center;}
.footNav ul {display:inline-block; list-style-type: none;}
.footNav ul li {display:inline;	margin:0 auto; margin-bottom:15px;}
.footNav li + li:before {content: "|"; padding:20px;}
.footNav nav ul li:last-child {border-right: none;}
.footNav a {
	padding:5px;
	text-decoration:none;
  display:inline-block;  
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.highlighter-rouge {
  background: #202020cb;
}

.trigger {
  margin-top: 2px;
}

a:link {
  color:#dedede;
}

.site-title {
  margin-top: 5px;
  text-transform: uppercase;
}
.site-title link:visited {
  color:#dedede;
}

.row:after {content: ""; display: table; clear: both;}

#leftCol {float:left; width:32%; margin-right: 2.5%}
#rightCol {float:left; width:63%; margin-left: 2.5%;}

#youtube {float:left; width:68%; margin-right: 1%;}
#spotify {float:right; width:30%; margin-left: 1%;}

.lightLine {
  height: 1px;
  color: #dedede71;
  background-color: #dedede71;
  border: none;
}

$base-font-family: Arial, Helvetica, sans-serif;
// $base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #dedede !default;
$background-color: #202020 !default;
$brand-color:      #dedede !default;

$grey-color:       #dedede !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1000px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
