#contactText { text-align:center; }

#contactForm { 
  margin: 0 auto; width:70%; text-align:left; margin-top:10px; border-radius:5px;
  
  input, #message { display:block; margin-top:10px; margin-bottom:10px; }
  
  legend { text-align:center; }
}

#message { width:98%; height:150px; }

.contactSocial {
  width:33%;
  text-align:center;
  float:left;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #900;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #600;
}